.programs {
    padding-top: 5.25rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programslink, .programslink:visited {
    font-size: 1.3rem;
    font-family: var(--main-font);
    color: var(--grey);
    text-decoration: none;
}

.programslinkactive {
    font-size: 1.3rem;
    font-weight: 600;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title div {
    height: 100%;
    width: 6px;
    background-color: var(--main-color);
    border-radius: 3px;
}

.title h2 {
    font-family: var(--main-font);
    color: var(--grey);
    margin-right: .5rem;
    font-weight: 600;
}

.title a {
    text-decoration: none;
    background-color: var(--main-color);
    font-family: var(--main-font);
    color: #fff;
    border-radius: 5px;
    margin-right: .5rem;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 1rem;
    padding-right: 1rem;
}

.contact h2 {
    font-family: var(--main-font);
    color: var(--grey);
    margin-right: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.contact ul {
    text-align: right;
    list-style-position: inside;
    direction: rtl;
    list-style: none;
}

.contact ul li {
    font-family: var(--main-font);
    color: var(--grey);
    margin-right: .5rem;
    font-weight: 600;
    font-size: 1rem;
}

.contact ul li::before {
    content: "\00B7";
    font-size: 1rem;
    background-size: 1rem;
    color: var(--main-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 976px) {
    .programs {
        flex-direction: column-reverse;
    }

    .programdetail {
        height: 100%;
        width: 100%;
        padding: 0rem;
    }

    .programslink, .programslink:visited {
        font-size: 1rem;
        margin-right: .5rem;
        font-family: var(--main-font);
        color: var(--grey);
        text-decoration: none;
    }

    .programslink {
        display: none;
    }
}