.menucontainer {
    z-index: 1002;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
    background-color: var(--main-color);
    transition: opacity .4s;
    background-image:  linear-gradient(to bottom, rgba(38,162,69, .9), rgba(38,162,69, .9)), url('/astronomy.jpg');
    background-size: cover;
}

.menucontainer *{
    opacity: 0;
}

.menucontaineropen {
    pointer-events: all;
    z-index: 999;
    opacity: 1;
    transform-origin: 50% 50%;
    transition: opacity .4s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menucontaineropen *{
    opacity: 1;
}

