.programsidebar {
    background-color: var(--light-grey);
    height: 100%;
    width: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 4rem;
}

.programstitle {
    font-size: 1.3rem;
    font-family: var(--main-font);
    color: var(--main-color);
}

@media screen and (max-width: 976px) {
    .programsidebar {
        width: 100%;
        height: 4rem;
        flex-direction: row-reverse;
        align-items: center;
    }

    .programstitle {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 675px) {
    .programstitle {
        font-size: 1rem;
    }
}